[submodule "lua"]
	path = ext/lua
	url = https://github.com/lua/lua.git
[submodule "GameController"]
	path = ext/GameController
	url = https://github.com/RoboCup-SPL/GameController.git
[submodule "legacy"]
	path = ext/legacy
	url = https://github.com/wrsturgeon/robocup-legacy.git
[submodule "fixed-string"]
	path = ext/fixed-string
	url = https://github.com/wrsturgeon/fixed-string.git
[submodule "iwyu"]
	path = ext/iwyu
	url = https://github.com/include-what-you-use/include-what-you-use.git
[submodule "fixed-point"]
	path = ext/fixed-point
	url = https://github.com/wrsturgeon/fixed-point.git
