[submodule "ext/lua"]
	path = ext/lua
	url = https://github.com/lua/lua.git
[submodule "ext/GameController"]
	path = ext/GameController
	url = https://github.com/RoboCup-SPL/GameController.git
[submodule "ext/cppzmq"]
	path = ext/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "ext/libzmq"]
	path = ext/libzmq
	url = https://github.com/zeromq/libzmq.git
